.admin_bg_color{
    background-color: #48cae4 !important;
    color: white !important;
}
.admin_btn{
    background-color: #48cae4 !important;
    color: white !important;
}
ul.pagination li.page-item.active a.page-link {
  background-color: #fff !important;
  border-color: #48cae4 !important;
  color: #48cae4 !important;
}


.page-item.active .admin_bg_color {
  background-color: #fff !important;
  border-color: none !important;
  color: #48cae4 !important;
}
